doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title datalytics
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/favicon.ico')
    //- // build:css styles/vendor.css
    //- // bower:css
    //- // endbower
    //- // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    .script(src='/vendor/modernizr/modernizr.js')
    // endbuild
    //- // build:js scripts/vendor.js
    //-
    //- // bower:js
    //-
    //- // endbower
    //- // endbuild

  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.

    .content
      div(ng-controller='dmpController')
        .drr-meter
          H1 DRR
        .placements
          p placements count: &nbsp;
            span(ng-bind="placements['placement count'] | number : 0")
          p TV LQS: &nbsp;
            span(ng-bind="placements['Total LQS'] | number : 0")
          p Business Days: &nbsp;
            span(ng-bind="business_days['days'] | number : 0")
          p DRR: &nbsp;
            span(ng-bind="placements['Total LQS'] / business_days['days'] | number : 0")
        .meter
          //- span.arc(ng-include="'/images/meter.svg'")
          //- input.bar(type="range", min="-90", max="90", ng-model="drr_slider.rotation", ng-change="calc_angle(drr_slider)")
          //- p {{drr_slider.rotation}} &deg;



    // Google Analytics
    //- script.
    //-   (function(m,i,n,o,r,e,v){m['GoogleAnalyticsObject']=r;m[r]=m[r]||function(){
    //-   (m[r].q=m[r].q||[]).push(arguments)},m[r].l=1*new Date();e=i.createElement(n),
    //-   v=i.getElementsByTagName(n)[0];r.async=1;e.src=o;v.parentNode.insertBefore(e,v)
    //-   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //-   ga('create', 'UA-12345678', 'minorev.com');ga('send', 'pageview');
    // build:js({app,.tmp}) scripts/main.js
    script(data-main='./scripts/main', src='/vendor/requirejs/require.js')
    // endbuild
