@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Arvo);


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.content {
  width: 95%;
  margin: 0 auto 50px auto;
  font-family: 'Lato', 'sans-serif';
}


.menu-disabled-true {
  color: gray;
}

.error {
  background-color: red;
}

.warning {
  background-color: yellow;
}


.selected {
  background-color: lightgreen;
}
